# Default values for helm.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  # Overrides the image repository name by set image.repository
  repository: ""
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

podAnnotations: {}

service:
  type: ClusterIP
  port: 8080
  annotations: {}
#  only type is LoadBalancer
  loadBalancerIP: ""
  loadBalancerSourceRanges: []
# health check liveness and readiness path
  livenesPath: /healthz/live
  readinessPath: /healthz/ready

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: traefik2
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.tls: "true"
  hosts:
    - host: example.change.local
      paths:
        - path: /
          pathType: ImplementationSpecific

resources:
   limits:
     cpu: 200m
     memory: 256Mi
   requests:
     cpu: 100m
     memory: 128Mi

nodeSelector: {}

tolerations: []

affinity: {}
